/* Overall table styling */
table {
    width: 100%;
    background-color: #f9f9f9;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    border-collapse: collapse; /* Ensure borders collapse to avoid gaps */
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

/* Table headers and cells */
th, td {
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
}

/* Header styles */
th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase; /* Capitalize header text */
    cursor: pointer;
}

/* Zebra striping for rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Table cell styles */
td {
    color: #333;
}

/* Notes input field styling */
td input[type="text"] {
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't break layout */
}

/* Subcategory dropdown styling */
.subcategory-dropdown {
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

/* Filters section styles */
.filters {
    display: flex;
    margin-bottom: 20px;
}

/* Individual filter inputs */
.filter-input, .filter-dropdown {
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    width: 20%;
    box-sizing: border-box;
}

.filter-input:focus, .filter-dropdown:focus {
    background-color: #fff;
}

/* Textbox for description search */
.filter-input {
    width: 100%;
}

/* Style for filter labels */
.filter-module {
    padding: 0 10px;
}

/* Checkboxes for categories */
.checkbox-group {
    display: flex;
    flex-direction: column; /* Stack checkboxes vertically */
    gap: 5px;
}

.checkbox-group input {
    margin-right: 5px;
}

.filters-header {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ccc;
    max-height: 39px;
}

.filters-header h4 {
    padding-left: 10px;
    font-size: 14px;
}

.filters-header span {
    transition: transform 0.3s;
    font-size: 14px;
    margin-left: 8px;
}
