/* Overall table styling */
table {
    max-width: 98%;
    background-color: #f9f9f9;
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    border-collapse: collapse; /* Ensure borders collapse to avoid gaps */
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-spacing: 0;
    border-collapse: separate;
}

table th:first-child {
    border-top-left-radius: 10px;
}
    
table th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
    
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/* Table headers and cells */
th, td {
    padding: 10px 13px;
    text-align: left;
    font-size: 14px;
}

/* Header styles */
th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase; /* Capitalize header text */
}

/* Zebra striping for rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Table cell styles */
td {
    color: #333;
    min-width: 100px;
}

/* Notes input field styling */
td input[type="text"] {
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't break layout */
}

/* Type dropdown styling */
.type-dropdown {
    padding: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.filters {
    transition: all 0.3s ease;
    width: 98%;
    margin: 0 1%;
}

/* Filters section styles */
.filters-content {
    display: flex;
    justify-content: space-around;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: opacity 0.2s ease-in-out;
}

/* Style for filter labels */
.filter-module {
    min-width: 12%;
    min-height: 250px;
}

.filter-module input {
    margin-bottom: 3%;
    max-width: 100%;
}

/* Checkboxes for categories */
.checkbox-group {
    min-width: 101%;
    overflow: auto;
    display: flex;
    flex-direction: column; /* Stack checkboxes vertically */
    gap: 5px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #333;
}

.checkbox-group input {
    margin-right: 5px;
}

.filters-header {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ccc;
    max-height: 39px;
    width: 98%;
    margin: 1% 0 0 1%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: all 0.3s ease;
}

.filters-header h4 {
    padding-left: 10px;
    font-size: 14px;
}

.filter-module h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.filters-header span {
    transition: transform 0.3s;
    font-size: 14px;
    margin-left: 8px;
}

/* Style for the delete button */
.delete-btn {
    margin-top: 10px;
    background-color: red;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
    display: block;
    width: auto;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.delete-btn:hover {
    background-color: darkred;
    transition: all 0.3s;
}